# Gemini
GOOGLE_API_KEY=your-gemini-api-key

# Firebase
FIREBASE_PROJECT_ID=agentic-tester-ded1d
FIREBASE_API_KEY=your-firebase-api-key
FIREBASE_CREDENTIALS_PATH=./firebase-credentials.json
FIREBASE_AUTH_DOMAIN=agentic-tester-ded1d.firebaseapp.com
FIREBASE_STORAGE_BUCKET=agentic-tester-ded1d.firebasestorage.app
FIREBASE_MESSAGING_SENDER_ID=289406285047
FIREBASE_APP_ID=1:289406285047:web:f5eee50b3bdc68b117cff2
FIREBASE_MEASUREMENT_ID=G-495T62FMMW

# Target
TARGET_URL=https://example.com
